@font-face { 
  font-family: Jenna Sue; 
    src: url('../font/JennaSue-webfont.eot'); 
    src: local("Jenna Sue"), url('../font/JennaSue-webfont.ttf'); 
} 

@font-face { 
  font-family: News Cycle; 
    src: url('../font/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../font/NewsCycle-Regular.ttf'); 
} 

html { 
  height: 100%;}

* { 
  margin: 0; 
  padding: 0;}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;}

body { 
  font: normal .80em arial, sans-serif;}

p { 
  padding: 0 0 25px 0;
  line-height: 1.7em;}

img { 
  border: 0;}

h1, h2, h3, h4, h5, h6 { 
  font: normal 350% 'Jenna Sue', arial, sans-serif;
  margin: 0 0 5px 0;
  padding: 0;}

h2 { 
  font: normal 170% 'Jenna Sue', arial, sans-serif;
  margin: 0;
  padding: 0 0 8px 0;}

h3 { 
  font: normal 150% arial, sans-serif;}

h4, h5, h6 { 
  margin: 0;
  padding: 0 0 5px 0;
  font: normal 110% arial, sans-serif;
  line-height: 1.5em;}

h5, h6 { 
  font: italic 95% arial, sans-serif;
  padding-bottom: 15px;}

a, a:hover { 
  outline: none;
  text-decoration: none;}

a:hover { 
  text-decoration: none;}

ul { 
  margin: 2px 0 22px 17px;}

ul li { 
  list-style-type: circle;
  margin: 0 0 0 0; 
  padding: 0 0 4px 5px;}

ol { 
  margin: 8px 0 22px 20px;}

ol li { 
  margin: 0 0 11px 0;}

#main, #header, #logo, #menubar, #site_content, #footer { 
  margin-left: auto; 
  margin-right: auto;}

#main { 
  width: 950px;
  margin: 20px auto;}

header { 
  width: 950px;
  height: 105px;}

#logo { 
  width: 950px;
  float: left;
  height: 100px;
  background: transparent;
  padding: 0;}

#logo h1 { 
  font: normal 450% 'Jenna Sue', arial, sans-serif;
  padding: 6px 0 0 20px;}

#logo h1 a:hover { 
  text-decoration: none;}

#site_content { 
  width: 950px;
  overflow: hidden;
  margin: 4px auto 0 auto;
  padding: 0;}

#left_content { 
  float: left;
  text-align: justify;
  width: 444px;
  padding: 20px 0 5px 25px;
  margin: 0;}

#left_content ul { 
  margin: 2px 0 22px 0px;}

#left_content ul li { 
  list-style-type: none;
  margin: 0 0 0 0; 
  padding: 2px 0 2px 28px;
  line-height: 1.5em;}

#right_content { 
  float: right;
  width: 450px;
  padding: 0;
  min-height: 450px;}

#right_content img { 
  float: left;}

footer { 
  height: 54px;
  width: 930px;
  float: right;
  margin: 20px auto 20px auto;
  padding: 0px 20px 0 0;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  font: 160% 'News Cycle', arial, sans-serif;
  text-align: right;}

footer p { 
  padding: 0 0 10px 0;}

footer a, footer a:hover {
  text-decoration: none;}

/* styling for the slideshow on the homepage */
ul.slideshow {
  width: 950px;
  height: 450px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  list-style: none;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;}
 
#slideshow-caption {
  width: 950px;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 20px 25px 0 25px;   
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;}

/* form styling */
.form_settings { 
  margin: 0;}

.form_settings p { 
  padding: 0 0 10px 0;}

.form_settings span { 
  padding: 5px 0; 
  float: left; 
  width: 170px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea { 
  padding: 4px; 
  width: 252px; 
  font: 100% 'trebuchet ms', arial, sans-serif;
  border: 0;
  border-bottom: 1px solid; 
  background: transparent;}
  
.form_settings .submit { 
  font: 220% 'Jenna Sue', arial, sans-serif; 
  border: 0; 
  width: 100px; 
  margin: 0 0 0 162px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;}

.form_settings textarea, .form_settings select { 
  font: 100% 'trebuchet ms', arial, sans-serif; 
  border: 1px solid; 
  border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  width: 250px;
  overflow: auto;}

.form_settings select { 
  width: 304px;}

.form_settings .checkbox { 
  margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

/* styling for the blog page */
#blog_container h4 {
  font: normal 300% 'Jenna Sue', arial, sans-serif;
  margin: 0 0 15px 0;
  padding: 5px 0;}

#blog_container h4.select {
  width: 475px;}

.blog {
  background: url(../img/calendar.png) no-repeat;
  width: 54px;
  height: 46px;
  float: left;
  margin: 0 15px 0 0;}

.blog h2 {
  font: bold 90% arial, sans-serif;
  text-shadow: none;
  text-align: center;
  margin: 0;
  padding: 4px 0 0 0;}
  
.blog h3 {
  font: 140% arial, sans-serif;
  text-shadow: none;
  margin: 0;
  text-align: center;
  padding: -10px 0 0 0;}
  
#blog_text {
  padding: 20px;
  overflow: auto;
  height: 100%;}

#blog_text h1 {
  font: normal 300% 'Jenna Sue', arial, sans-serif;;
  margin: 0 0 15px 0;
  padding: 5px 0;}

/* stylesheet for sooperFish by www.sooperthemes.com -- author: jurriaan roelofs */
html body ul.sf-menu ul,html body ul.sf-menu ul li { 
  width: 180px;}

html body ul.sf-menu ul ul { 
  margin: 0 0 0 180px;}

ul.sf-menu,ul.sf-menu * { 
  margin: 0;
  padding: 0;}

ul.sf-menu { 
  display: block;
  position: relative;}
  
ul.sf-menu li { 
  display: block;
  list-style: none;
  float: left;
  position: relative;}
  
ul.sf-menu li:hover { 
  visibility: inherit; /* fixes IE7 'sticky bug' */ }

ul.sf-menu a { 
  display: block;
  position: relative;}
  
ul.sf-menu ul { 
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;}
  
ul.sf-menu ul a { 
  zoom: 1; /* IE6/7 fix */ }

ul.sf-menu ul li { 
  float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
  width: 150px;}
  
ul.sf-menu ul ul { 
  top: 0;
  margin: 0 0 0 150px;}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul, 
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul { 
  left: auto;}
  
ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul { 
  left: -999999px;}

/* autoArrows CSS */
span.sf-arrow { 
  width: 7px;
  height: 7px;
  position: absolute;
  top: 20px;
  right: 5px;
  display: block;
  overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
  font-size: 1px;
}

ul ul span.sf-arrow { 
  right: 5px;
  top: 20px;
  background-position: 0 100%;
}

/* theming the menu */
nav { 
  height: 44px;
  width: 950px;
  float: right;
  margin: -20px auto 20px auto;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;} 

/* Theming the menu */
ul#nav { 
  float: left;
}

ul#nav ul { 
  padding-bottom: 15px;
}

ul#nav li a { 
  padding: 3px 25px 6px 25px;
  font: 170% 'News Cycle', arial, sans-serif;
  text-decoration: none;
  margin-right: 2px;
}
